

<div class="container mt-4">
  <h2 class="mb-4">Wes Bos Javascript30 examples converted to Stimulus JS</h2>
  <ol>
    <li><%= link_to "Drum Kit: handling keyboard events", examples_drum_kit_path %></li>
    <!-- <li><%#= link_to "CSS Variable: playying with CSS :root variable", examples_css_variable_path %></li> -->
    <li><%= link_to "Video Player: a custom HTML5 video player", examples_video_player_path %></li>
    <li><%= link_to "Local Tapas: yet another todo list example", examples_local_tapas_path %></li>
    <li><%= link_to "Type Head: small autocomplete search field", examples_type_head_path %></li>
  </ol>
</div>
