<div class="type-head">
  <form class="search-form" data-controller="type-head">
    <input data-action="keyup->type-head#autocomplete" data-target="type-head.input" type="text" class="search" placeholder="City or State">
    <ul class="suggestions" data-action="click->type-head#select" data-target="type-head.suggestions">
      <li>Filter for a city</li>
      <li>or a state</li>
    </ul>
  </form>
</div>
