<!DOCTYPE html>
<html>
  <head>
    <title>Javascript30 converted to Stimulus JS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
